html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}
#infoPanel{
    height:calc(100vh - 30px);
    width:300px;
}
#infoPanel > *{
    width:300px; 
}
#infoText{
    height:calc(100% - 150px);
    overflow:scroll;
}
#viewDiv{
    height:100%;
    width:calc(100% - 330px);
    position:absolute;
    left:330px;
    top:0;
}
.outline{
    width:auto;
}
#lake-level-container{
    margin-bottom:15px;
}
#lake-level-container > *{
    display:inline;
    font-size:18px;
    font-weight:bold;
}
#lake-level-container > button {
    background:none;
    border:2px solid white;
    color:white;
    margin-left:5px;
    padding:5px;
}
#lake-level-container > button:hover{
    background-color:rgba(255,255,255,0.6);
    cursor:pointer;
}
