/*typefaces*/
@font-face {
    font-family: open-sans;
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: open-sans;
    font-style:italic;
    src: url(fonts/OpenSans-Italic.ttf);
}
@font-face {
    font-family: open-sans;
    font-weight: bold;
    src: url(fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: open-sans;
    font-weight: bold;
    font-style:italic;
    src: url(fonts/OpenSans-BoldItalic.ttf);
}

html, body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: open-sans;
}
#infoPanel{
    height:calc(100vh - 30px);
    width:350px;
    overflow-y:scroll;
}
#infoPanel > *{
    width:350px; 
}

#viewDiv{
    height:100%;
    position:absolute;
    top:0;
}
.outline{
    width:auto;
}
#lake-level-container, #data-type-container{
    margin-bottom:15px;
}
#lake-level-container > button, #data-type-container > button {
    background:none;
    border:2px solid white;
    color:#1b666b;
    margin-left:5px;
    padding:5px;
    display:inline;
    font-size:18px;
    font-weight:bold;
}
#lake-level-container > button:hover, #data-type-container > button:hover {
    background-color:rgba(255,255,255,0.6);
    cursor:pointer;
}

html{
    background:#e9e7da;
}
/*Panel styling*/
#infoPanel{
    background:#e9e7da;
    color:#1b666b;
    padding:15px;
    border-right: 2px solid #1b666b;
    position:relative;
    z-index:100;
}
hr{
    color:#1b666b;

}
/*Checkbox styling*/
.flood-label, .overlay-label{
    font-size:20px;
    font-weight:normal;
}
.legend-block{
    width: 20px;
    height: 20px;
    display: inline-block;
    position:relative;
    margin-bottom:-5px;
}
.depth-2d-model{
    margin-top:25px;
    display:none;
}
#leg-0{
    background:rgba(15, 58, 62, 0.8);
}
#leg-1{
    background:rgba(35, 135, 144, 0.8);
}
#leg-2{
    background:rgba(70, 199, 210, 0.8);
}
#leg-3{
    background:rgba(152, 224, 230, 0.8);
}
#ovr-0{
    background:#5d090b;
}
#ovr-1{
    background:#b1201b;
}
#ovr-2{
    background:#fb6a4a;
}
#ovr-3{
    background:#fcae91;
}
#svi-block{
    margin-top:15px;
}
.svi-leg-block{
    width:45px;
    height:25px;
    display:inline-block;
}
#svi-leg-block-container{
    margin-left:25px;
    margin-top:5px;
    display:block;
}
#svi-leg-block-label{
    margin-left:25px;
    display:block;
}
#svi-leg-block-label > p{
    margin-top:5px;
}
#svi-leg{
    display:none;
}
/*Widget Styling*/
/*basemap gallery*/
.esri-basemap-gallery, .esri-distance-measurement-2d__container, .esri-print__container, .esri-print, .esri-widget--button{
    background:#1b666b;
    padding:10px;
    color:white;
    border:#24888f outset 2px;
}
.esri-widget--button:hover{
    background:#238890;
    color:white;
}
.esri-basemap-gallery__item-title{
    color:white; 
}
.esri-basemap-gallery__item-title:hover{
    color:white;
}
.esri-basemap-gallery__item:hover{
    background:rgba(255,255,255,0.5);
    color:white;
}
.esri-distance-measurement-2d__measurement{
    background:#1b666b;
    color:white;
}
/*layer list styling*/
.esri-layer-list{
    background:#ccccff;
}
.esri-layer-list__item{
    background:#1b666b;
    color:white;
}
.esri-layer-list__item-actions-menu-item, .esri-layer-list__item-toggle{
    color:white;
}
.esri-layer-list__item-actions-menu-item:hover{
    background:#1b666b;
    border:none;
}
/*popup styling*/
.esri-popup--is-collapsible, .esri-popup__header-container, .esri-widget__heading, .esri-popup__content, .esri-feature-content{
    background:#1b666b !important;
    color:white;
}
.esri-popup--is-collapsible > *:hover, .esri-popup__button:hover{
    background:white;
}
.esri-popup__button{
    color:white;
}
/*print styling*/
.esri-print__container input, .esri-print__container select, .esri-print__container li, .esri-print__container button{
    background:#e9e7da;
    color:#023e48
}
.esri-print__layout-tab[aria-selected="true"]{
    background: white;
}
/*infrastructure legend styling*/
#infrastructureDiv{
    position:absolute;
    bottom:25px;
    right:10px;
    width:150px;
    height:350px;
    padding:10px;
    background-color:rgba(233, 231, 218,0.8);
}
#infrastructureDiv > p{
    margin-top:5px;
    margin-bottom:5px;
    display:inline-block;
}
.infrastructurePoint{
    height:10px;
    width:10px;
    margin-right:5px;
    display:inline-block;
    border-radius:50%;
}
/*swipe label styling*/
.swipe-label-container{
    display:none;
}
.swipe-label{
    width:50px;
    height:35px;
    background:#1b666b;
    position:absolute;
    bottom:25px;
    padding:5px;
    padding-bottom:15px;
    text-align: center;
    color:white;
    font-weight:bold;
}
#low{
    left:390px;
}
#high{
    left:calc(100vw - 70px);
}
/*Widget Toolbar*/
#toolbarDiv {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: default;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
}
.esri-ui-top-right{
    top:50px;
}
/*modal*/
/* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 150; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #e9e7da;
  }
  
/* Modal Content/Box */
  .modal-content {
    width:calc(100% - 40px); /* Could be more or less, depending on screen size */
    height:calc(100% - 40px);
    padding:20px;
    background:#e9e7da;
    color:#1b666b;
    margin-bottom:50px;
  }
  .modal-content p {
    margin:0;
    font-size:24px;
  }
  .modal-content img{
    width:400px;
    margin-bottom:15px;
  }
  .modal-desc{
    display:inline;
  }
  
/* The Close Button */
  #x {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #x:hover,
  #x:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  #close-button, #about-button{
    background:none;
    border: 2px #1b666b solid;
    color:#1b666b;
    font-size:20px;
    font-weight:bold;
    padding:5px;
    margin:auto;
    display:block;
    margin-bottom:25px;
  }
  #close-button:hover,  #about-button:hover{
    cursor: pointer;
    background: #cfcaaf;
  }
/*info question marks*/
.info-q:hover{
    cursor:pointer;
}
.info-hover{
    background:white;
    padding:10px;
    position:absolute;
    z-index:10000;
    width:250px;
}
.info-hover:hover{
    cursor:pointer;
}
/*Responsive design*/
@media screen and (min-width: 539px){
    #infoPanel{
        display:block;
    }
    #viewDiv{
        width:calc(100% - 380px);
        left:380px;
    }
    #show-panel, #close{
        display:none;
    }
}
@media screen and (max-width: 539px){
    #infoPanel{
        display:none;
        width:100%;
        padding-bottom:50px;
    }
    #viewDiv{
        left:0;
        width:100%;
    }
    #show-panel{
        width:50px;
        height:50px;
        display:block;
        position:absolute;
        left:calc(50% - 30px);
        bottom:25px;
        font-size:36px;
        background:#1b666b;
        color:white;
        border: 2px solid #023e48;
        padding:0;
        padding-bottom:15px;
    }
    #show-panel:hover{
        background:rgba(27, 102, 107, 0.7);
        cursor:pointer;
    }
    #close{
        background:none;
        border:2px solid white;
        color:#1b666b;
        margin-left:5px;
        padding:5px;
        display:block;
        font-size:18px;
        font-weight:bold;
        margin-top:50px;
        width:100px;
        margin:auto;
        top:15px;
        position:relative;
    }
    #close:hover{
        background-color:rgba(255,255,255,0.6);
        cursor:pointer;
    }
}