html{
    background:#993333;
}
/*Panel styling*/
#infoPanel{
    background:#993333;
    color:white;
    padding:15px;
}
hr{
    color:white;
}
/*Widget Styling*/
/*basemap gallery*/
.esri-basemap-gallery{
    background:#993333;
    padding:10px;
}
.esri-basemap-gallery__item-title{
    color:white; 
}
.esri-basemap-gallery__item-title:hover{
    color:white;
}
.esri-basemap-gallery__item:hover{
    background:rgba(255,255,255,0.5);
    color:white;
}
/*layer list styling*/
.esri-layer-list{
    background:#732626;
}
.esri-layer-list__item{
    background:#993333;
    color:white;
}
.esri-layer-list__item-actions-menu-item, .esri-layer-list__item-toggle{
    color:white;
}
.esri-layer-list__item-actions-menu-item:hover{
    background:#993333;
    border:none;
}
/*popup styling*/
.esri-popup--is-collapsible, .esri-popup__header-container, .esri-widget__heading, .esri-popup__content, .esri-feature-content{
    background:#993333 !important;
    color:white;
}
.esri-popup--is-collapsible > *:hover, .esri-popup__button:hover{
    background:white;
}
.esri-popup__button{
    color:white;
}